<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Decrypt Hash{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav class="top-nav">
            <a href="{{ url_for('home') }}" class="nav-button">Acceuil</a>
            <a href="{{ url_for('list_wallets') }}" class="nav-button">List Wallet</a>
            <a href="{{ url_for('submit_earn') }}" class="nav-button">Submit Earn</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
