{% extends 'base.html' %}

{% block title %}Acceuil - Decrypt Hash{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-panel">
        <h1>This website is a wallet decrypting pool!</h1>
        <p>
            this website give hash for decrypt password of the wallet and if you find the password you submit with your BTC address hash and password after necessering verification if is good enser 50% of the wallet from you have find the password is send to your address!
        </p>
        <p>
            The responsable of this website are not responsable if the wallet are corrupted or descriptor or impossible to decrypt because the source of wallet.dat are from internet.
        </p>
        <p>Enjoys and good luck for any Participator !</p>
    </div>
    <p class="hero-footer">ELIT21.com @ independente service</p>
</section>
{% endblock %}
